<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuexiang.user.mapper.MemberLevelMapper">

    <select id="selectByPoints" resultType="com.yuexiang.user.domain.entity.MemberLevel">
        SELECT * 
        FROM tb_member_level 
        WHERE min_points &lt;= #{points} 
        ORDER BY min_points DESC 
        LIMIT 1
    </select>

</mapper>
